/* Estilos para el contenedor principal */
.reset-password-container {
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Degradado de color */
    border-radius: 8px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
  }
  
  /* Título */
  .reset-password-container h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
  }
  
  /* Estilo para los campos de formulario */
  .reset-password-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Estilos de los inputs */
  .reset-password-container input {
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #ddd;
    outline: none;
    transition: border-color 0.3s;
    background-color: #fff;
  }
  
  .reset-password-container input:focus {
    border-color: #2575fc;
  }
  
  /* Estilo de los botones */
  .reset-password-container button {
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background-color: #2575fc;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-password-container button:disabled {
    background-color: #f27007;
    cursor: not-allowed;
  }
  
  .reset-password-container button:hover {
    background-color: #6a11cb;
  }
  
  /* Estilos de los mensajes de error o éxito */
  .swal2-popup {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .swal2-title {
    color: #2575fc;
  }
  
  .swal2-content {
    color: #333;
  }
  
  /* Ajustes para pantallas pequeñas */
  @media screen and (max-width: 480px) {
    .reset-password-container {
      padding: 20px;
      max-width: 90%;
    }
  
    .reset-password-container h2 {
      font-size: 20px;
    }
  
    .reset-password-container input {
      font-size: 14px;
    }
  
    .reset-password-container button {
      font-size: 14px;
    }
  }
  